<header class="header">
    <ul>
        {% for link in linklists.main-menu.links -%}
            {{ link.title | link_to: link.url }}
        {%- endfor %}      
    </ul>

    {% if settings.show_search %}
        <form action="/search" method="get">
            <input type="search" name="q" placeholder="Search products..." />
            <button type="submit">Search</button>
        </form> 
    {% endif %}
</header>
